## **Exercises: Lesson 3**
Hanaan Shafi

---

**Exercise 3.1:** Making use of conditionals, compute the equivalence between the age of a dog and a human taking into account the rules that follow:

1. A one-year-old dog is equivalent to a 14-year-old human being.

2. A dog that is two years old is considered equivalent to a 22-year-old person.

3. Each additional dog year is equivalent to five human years.

In [1]:
d = int(input("Enter dog's age: "))

if d==1:
  print("Human's age: 14")
elif d==2:
  print("Human's age: 22")
else:
  print("Human's age: ", d*5)

Enter dog's age: 5
Human's age:  25

**Exercise 3.2:** Prepare a loop such that given when it is given as an input a string variable it produces as output another string variable equal to the first string in reversed order, e.g. a = "abcd" and reverseda = "dcba"

In [2]:
word = input("Enter a word: ")
output = ""

for i in word[::-1]: # we iterate over each character of the string, but backwards
   output += i # add each character to our empty output string 

print(output)

Enter a word: Hello World
dlroW olleH

**Exercise 3.3:** Use a loop to convert the string "Testing loops and stringsâ€¦" into another string, changing spaces into "_" (underscore).

In [3]:
test_string = "Testing loops and strings"
output = ""

for i in test_string:
  if i==" ": # when we arrive at a space while iterating over the string, then:
    output += "_" # replace the space with an underscore
  else: # otherwise:
    output += i # just add the character as is

print(output)

Testing_loops_and_strings

**Exercise 3.4:** Given the list AA = [1.0, -2.0, 3.0, 5.5, 0.3] and considering that these are the values of the coefficients for a polynomial P(x) = AA[0] + AA[1]*x + ... + AA[n]*x**n, prepare a loop that computes the polynomial value for a given independent variable x value. For example, in the given case P(x) = 7.8 for x = 1.

In [4]:
x = int(input("Enter a value for x: "))
AA = [1.0, -2.0, 3.0, 5.5, 0.3]
Px = 0 # reset the value of Px to zero every time

for i in AA: 
  Px += i*(x**(AA.index(i)))

print("Px =", Px)

Enter a value for x: 1
Px = 7.8

**Exercise 3.5:** Compute for the loaded temperature dataset the average seasonal temperatures and gives as a results a Python list with these temperatures.

In [6]:
import numpy as np
temp_data = np.loadtxt(fname = "T_Alicante_EM.csv", delimiter=',', skiprows=1)

# defining the seasons 
spring = [3, 4, 5]
summer = [6, 7, 8]
autumn = [9, 10, 11]
winter = [12, 1, 2]

# define the list containing seasonal averages
seasonal_averages = [np.mean(temp_data[:, spring]), np.mean(temp_data[:, summer]),
                 np.mean(temp_data[:, autumn]), np.mean(temp_data[:, winter])]

print(seasonal_averages)

[16.46014705882353, 24.883455882352944, 19.747328431372548, 12.442769607843138]

**Exercise 3.6:** Build a code that, for a given month and considering the loaded temperature dataset, finds the mean and minimum temperature values for the selected month and then it builds a Python list with the years that have an average temperature for the selected month that is less than the average value of the minimum and mean temperature.

In [7]:
import calendar # importing a module for calendar data
month_dict = {month: index for index, month in enumerate(calendar.month_abbr) if month} # dictionary with months connected to their numbers
month_input = input("Enter any month (first three letters): ") 

min = np.min(temp_data[:, month_dict[month_input]])
mean = np.mean(temp_data[:, month_dict[month_input]])

years_list = []
for i in temp_data[:, month_dict[month_input]]:
  if i < ((min + mean)/2):
    years_list.append(temp_data[np.where(temp_data[:,month_dict[month_input]] == i)][0][0])

print("The list of years with average temp. for", month_input, 
      "that is less than the average of the minimum and mean temp. is \n", years_list)

Enter any month (first three letters): Mar
The list of years with average temp. for Mar that is less than the average of the minimum and mean temp. is
 [1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1969.0, 1965.0, 1964.0, 1975.0, 1977.0, 1979.0, 1980.0, 1981.0, 1982.0, 1984.0, 1985.0, 1989.0, 1991.0, 1992.0, 1994.0, 1980.0, 1969.0, 1975.0, 1964.0, 2004.0, 2005.0, 2012.0, 2014.0, 1982.0, 1969.0]