
<center>

**Exercises: Lesson 1**

Computing & Numerical Methods

Hanaan Shafi 

</center>

In [2]:
import numpy as np

In [3]:
temp_data = np.loadtxt(fname='T_Alicante_EM.csv', delimiter=',', skiprows=1) # loading the data

Exercise (1.1): How would you compute minimum, maximum and average March temperatures for the given dataset?

In [4]:
# Minimum temperature in March 
print('The minimum March temperature is:', np.min(temp_data[:, 3]))

# Maximum temperature in March 
print('The maximum March temperature is:', np.max(temp_data[:, 3]))

# Average temperature in March 
print('The average March temperature is:', np.average(temp_data[:, 3]))

The minimum March temperature is: 12.42
The maximum March temperature is: 16.76
The average March temperature is: 14.086838235294117

Exercise (1.2): Check the info on the numpy mean function and compute the average monthly temperatures and the average annual temperatures for the given dataset (Hint: axis option)

In [5]:
# The average monthly temperatures 
print(temp_data[:, 1:].mean(axis=0))

[11.94933824 12.49007353 14.08683824 16.19860294 19.095      22.74375
 25.74705882 26.15955882 23.79691176 19.76845588 15.67661765 12.88889706]

In [6]:
# The average annual temperatures
print(temp_data[:, 1:].mean(axis=1))

[17.1425     16.97       16.985      16.86083333 17.03166667 17.00666667
 17.33666667 17.63333333 16.77333333 17.17416667 16.955      17.15666667
 17.25416667 17.16666667 17.16666667 17.31666667 17.3775     17.34583333
 17.07583333 17.01583333 16.85833333 17.14166667 17.23083333 16.88916667
 17.17416667 17.18583333 17.37916667 17.44583333 17.11583333 17.49083333
 17.24       17.305      17.61083333 17.5425     17.4675     17.4125
 17.615      17.40166667 17.49583333 17.435      17.67583333 17.58916667
 17.3775     17.7175     17.6625     17.59333333 17.37083333 17.56
 17.5325     17.84583333 17.61666667 17.50666667 18.03666667 17.3475
 17.695      18.38833333 17.87916667 17.61833333 18.21666667 17.51916667
 17.74083333 17.90583333 17.95083333 17.82333333 18.23916667 17.925
 18.07083333 18.32916667 18.4475     18.1875     18.12583333 17.88916667
 18.32333333 18.155      18.57083333 18.30083333 18.0125     18.45
 18.6625     18.4825     18.48416667 18.58083333 18.445      18.33
 18.68666667 18.98166667 18.38666667 18.88416667 19.06916667 19.16
 18.99083333 18.91083333 19.13       18.97       19.40833333 19.31166667
 19.03666667 19.03333333 18.99333333 19.08666667 19.24083333 19.295
 19.39666667 19.39916667 19.62       19.9        19.61916667 19.62083333
 19.5125     19.70166667 19.69416667 19.7225     19.62416667 19.375
 19.5625     19.67583333 19.8625     19.68083333 19.6475     20.22416667
 20.095      20.2475     20.01083333 20.04416667 19.82166667 19.89166667
 20.05833333 20.53083333 20.43666667 20.365      20.60666667 20.30083333
 20.16333333 20.54416667 20.285      19.965     ]


Exercise (1.3): Get the maximum and minimum monthly temperatures for year 2000 and at what months did these temperatures occur.

In [7]:
# Minimum temperature in 2000
print('The minimum temperature in the year 2000 was ', np.min(temp_data[np.where(temp_data[:,0] == 2000)][0][1:]))

# Maximum temperature in 2000 
print('The maximum temperature in the year 2000 was:', np.max(temp_data[np.where(temp_data[:,0] == 2000)][0][1:]))

The minimum temperature in the year 2000 was  10.92
The maximum temperature in the year 2000 was: 24.63